<div id="main">
  <div id="about_me">
    <h1>The Tech Noob's Blog!</h1>
    <h3>About the Tech Noob</h3>
    <p>
      My name is Donald Abdullah-Robinson and this blog is about my never-ending journey toward self-improvement. I have
      a year of experience
      as a Junior Software Engineer and am currently a Software Design Engineer. This blog's purpose is to discuss
      everything relating to my own
      journey toward self-improvement.
    </p>
  </div>

  <!-- Section for creating a new blog post. -->
  <div id="create_post">
    <h1>Create a New Blog Post:</h1>
    <form (ngSubmit)="doPostOnSubmit()" #postForm="ngForm">
      <div class="form-group">
        <label for="name"></label><br />
        <textarea id="textareaNewPost" cols="100" rows="10" class="form-control" id="content" name="content"
          [(ngModel)]="formContent" placeholder="Enter Content Here:" required></textarea><br />
        <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid">Submit</button>
      </div>
    </form>
  </div>

  <!-- Filter options section. -->
  <div id="filter">
    <h1>Filter Options:
      <button class="btn btn-primary" (click)="setTabVisibility(2)">All</button>
      <button class="btn btn-primary" (click)="setTabVisibility(1)">Recent</button>

      <button class="btn btn-primary" (click)="setAllPostsEdit()">Edit All</button>
      <button class="btn btn-primary" (click)="setAllPostsView()">View All</button>
    </h1>
  </div>

  <!-- Make sure there is content loaded before rendering anything. -->
  <span *ngIf="allYears[0] != undefined">

    <!-- Section for viewing most recent posts. -->
    <div id="tab1" *ngIf="tabVisibility['1']">
      <h1 class="blog_post_header">{{getKeys(postDataObject[allYears[0]])[0]}} {{allYears[0]}} - Recent</h1>
      <div *ngFor="let day of getReversedKeys(postDataObject[allYears[0]][getKeys(postDataObject[allYears[0]])[0]])">
        <h1 class="day_style">Day {{day}}</h1>
        <div class="post_container">
          <div class="post"
            *ngFor="let dayData of getFilteredData(allYears[0], getKeys(postDataObject[allYears[0]])[0], day)">

            <span *ngIf="dayData['displayMode'] == 'view'" (click)='dayData["displayMode"] = "edit"'>

              <p>
                {{dayData['timeAndContent']}}
              </p>

            </span>

            <span *ngIf="dayData['displayMode'] == 'edit'" (click)='dayData["displayMode"] = "view"'>

              <p>
                {{dayData['time']}}
                <textarea cols="50" rows="3" value="{{dayData['content']}}" [(ngModel)]="dayData['content']"></textarea>
              </p>
              <button type="submit" class="btn btn-primary"
                (click)='doPutEditPost(dayData["content"], dayData["_id"]); dayData["displayMode"] = "view"'>Save</button>
              <button type="submit" class="btn btn-warning" (click)='dayData["displayMode"] = "view"'>Cancel</button>
              <button type="submit" class="btn btn-danger" (click)='doDeleteRemovePost(dayData["_id"])'>Delete</button>

            </span>

          </div>
        </div>
      </div>
    </div>

    <!-- Section for viewing all posts. -->
    <div id="tab2" *ngIf="tabVisibility['2']">
      <div *ngFor="let year of allYears">
        <div *ngFor="let month of getKeys(postDataObject[year])">
          <h1 class="blog_post_header">{{month}} {{year}} - All</h1>
          <div *ngFor="let day of getReversedKeys(postDataObject[year][month])">
            <h1 class="day_style">Day {{day}}</h1>
            <div class="post_container">
              <div class="post" *ngFor="let dayData of getFilteredData(year, month, day)">
                
                <span *ngIf="dayData['displayMode'] == 'view'" (click)='dayData["displayMode"] = "edit"'>
                  <p>
                    {{ dayData['timeAndContent'] }}
                  </p>
                </span>

                <span *ngIf="dayData['displayMode'] == 'edit'" (click)='dayData["displayMode"] = "view"'>

                  <p>
                    {{dayData['time']}}
                    <textarea cols="50" rows="3" value="{{dayData['content']}}"></textarea>
                  </p>
                  <button type="submit" class="btn btn-primary"
                    (click)='doPutEditPost(dayData["content"], dayData["_id"]); dayData["displayMode"] = "view"'>Save</button>
                  <button type="submit" class="btn btn-warning"
                    (click)='dayData["displayMode"] = "view"'>Cancel</button>
                  <button type="submit" class="btn btn-danger"
                    (click)='doDeleteRemovePost(dayData["_id"])'>Delete</button>

                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </span>
</div>
