<div id="main">

  <h1>
    The Tech Noob's Note Keeping App
  </h1>

  <hr>

  <!-- Section for creating a new blog post. -->
  <div id="create_post">

    <!-- Category Selection // TODO => Make a drop-down component... -->
    <div class="new-post-category-controls">
        <h2 style="margin-right: 8px;">Create New Post in</h2>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{formCategory}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <span *ngFor="let item of G_CATEGORY_ARRAY">
              <a class="dropdown-item" (click)="formCategory = item">{{item}}</a>
            </span>
          </div>
        </div>
      </div>

    <form (ngSubmit)="doPostOnSubmit()" #postForm="ngForm">
      <div>
        <!-- Text area for new post -->
        <textarea class="post_edit_textarea" name="content"
          [(ngModel)]="formContent" placeholder="Enter Content Here:" required></textarea><br />

        <!-- Submit button. -->
        <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid">Submit</button>
      </div>
    </form>

  </div>
  <hr>

  <!-- Filter options section. -->
  <div id="filter_section">
    <h2>Filter Options</h2>
    <h5>Date Range (MM/DD/YYYY):
      <input type="text" [(ngModel)]="filterSettings.date_start_str">
      <input type="text" [(ngModel)]="filterSettings.date_end_str">
    </h5>
    <button class="btn btn-primary" (click)="syncFilterDataObject()">Filter</button>
    <br />
  </div>

  <hr>

  <!-- Mass operations section. -->
  <div id="filter_section">
    <h2>Mass Operations</h2>
    <button class="btn btn-primary" (click)="setAllPostsView()">View</button>
    <button class="btn btn-primary" (click)="setAllPostsEdit()">Edit</button>
  </div>

  <hr>

  <!-- Make sure there is content loaded before rendering anything. -->
  <span *ngIf="postDataArray != undefined">

    <h2>Post History</h2>

    <!-- Container for post-container display controls. -->
    <div id="post-container-controls">

      <!-- Page Results Filter Drop-down -->
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Page Results
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <span *ngFor="let item of [5,10,25,100]">
            <a class="dropdown-item"
              (click)="filterSettings.resultLimit = item; setPageIndexZero(); updateResultsArray();">{{item}}</a>
          </span>
        </div>
      </div>

      <!-- Category Filter -->
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{filterSettings.category}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <span *ngFor="let item of getFilterList()">
            <a class="dropdown-item" (click)="filterSettings.category = item; setPageIndexZero(); updateResultsArray();">{{item}}</a>
          </span>
        </div>
      </div>

      <!-- Pagination Component -->
      <nav id="pagination-nav" aria-label="Page navigation example" style="margin-right: 10px;">
        <ul class="pagination">
          <div *ngFor="let item of paginationArray">
            <li class="page-item">
              <a class="page-link" (click)="filterSettings.page_index = item">{{item+1}}</a>
            </li>
          </div>
        </ul>
      </nav>

      <!-- Search Field -->
      <input id="search_field" type="text" [(ngModel)]="filterSettings.searchField" placeholder="Search Here"
        (ngModelChange)="textChange()">
    </div>

    <div *ngFor="let result of resultsArr[filterSettings.page_index]">
      <!-- Wrap each post into a card. -->
      <div class="card" style="margin-bottom: 5px;">
        <div class="card-body">

          <!-- View Mode -->
          <span *ngIf="result.postData['displayMode'] == 'view'" (click)='result.postData["displayMode"] = "edit"'>
            <h5 class="card-title">{{ getFormattedTime(result.postData['date']) }} in
              {{ getFormattedCategory(result.postData['category']) }} on {{result.header}}</h5>
            <p class="card-text">{{ result.postData['content'] }}</p>
          </span>

          <!-- Edit Mode -->
          <span *ngIf="result.postData['displayMode'] == 'edit'">

            <!-- Card Header -->
            <h5 class="card-title">{{ getFormattedTime(result.postData['date']) }} in
              {{ getFormattedCategory(result.postData['category']) }}</h5>

            <!-- Update Date -->
            <h5>New Date (MM/DD/YYYY/HH/MM/SS):
              <input type="text" [(ngModel)]="result.postData['date_str']">
            </h5>

            <!-- Update content -->
            <h5>New Content:</h5>
            <textarea class="post_edit_textarea" value="{{result.postData['content']}}" rows="3"
              [(ngModel)]="result.postData['content']"></textarea><br />

            <!-- Category Dropdown -->
            <div class="new-post-category-controls">
              <h5 class="new-post-category-header">New Category:</h5>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{result.postData['category']}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <span *ngFor="let item of G_CATEGORY_ARRAY">
                    <a class="dropdown-item" (click)="result.postData['category'] = item">{{item}}</a>
                  </span>
                </div>
              </div>
            </div>

            <!-- 3 Button Group (Save/Cancel/Delete) -->
            <button type="submit" class="btn btn-primary" (click)='performSave(result.postData)'>Save</button>
            <button type="submit" class="btn btn-warning"
              (click)='result.postData["displayMode"] = "view"'>Cancel</button>
            <button type="submit" class="btn btn-danger"
              (click)='doDeleteRemovePost(result.postData["_id"])'>Delete</button>

          </span>
        </div>
      </div>
    </div>

  </span>
  <hr>

  <!-- About Me Section -->
  <div id="user_guide">
    <h2>User Guide</h2>
    <p>
      Work-In Progress:
      To edit a single post, click it to enter exit mode, make your changes and then hit the save button.
    </p>
  </div>
  <hr>

  <!-- About Me Section -->
  <div id="about_me">
    <h2>About the Tech Noob</h2>
    <p>
      My name is Donald Abdullah-Robinson and this blog is about my never-ending journey toward self-improvement. I
      have
      a year of experience
      as a Junior Software Engineer and am currently a Software Design Engineer. This blog's purpose is to discuss
      everything relating to my own
      journey toward self-improvement.
    </p>
  </div>

  <hr>

  <!-- Footer section.-->
  <div id="footer">
    <h2>Explore My Work</h2>
    <button class="btn btn-primary">LinkedIn</button>
    <button class="btn btn-primary">Portfolio</button>
    <button class="btn btn-primary">Github</button>
    <button class="btn btn-primary">FCC</button>
    <button class="btn btn-primary">CodeSignal</button>
  </div>

  <hr>
</div>
