button {
  margin-right: 5px;
}

#main {
  background-color: #eeeeee;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
}

.customJumbo {
  background-color: rgb(223, 223, 223);
  padding: 10px;
}

.blog_post_header {
  background-color: #bbb;
}

.day_style {
  background-color: #ccc;
}

button {
    width: 120px;
}

.post_edit_textarea {
  width: 100%;
  margin-bottom: 10px;
}